* {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

#container {
  width: 980px;
  column-count: 3;
  column-gap: 10px;
}

.box {
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  width: 300px;
  border: 1px black dashed;

  break-inside: avoid;
  margin-bottom: 5px;
}

.avatar {
    display: flex;
}

img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

svg {
  width: 25px;
  height: 25px;
}

span {
  font-size: 15px;
  color: gray;
}
.id {
  height: 25px;
  display: flex;
  align-items: center;
}